<div class="container">
  <main>
    <h1>{{cubeOne.name}}</h1>
    <img class="cube" src={{cubeOne.imageUrl}}>
    <div class="details">
      <p><span>Description:</span> {{cubeOne.description}}</p>
      <p><span>Difficulty level:</span> {{cubeOne.difficultyLevel}}</p>
      <a class="btn" href="/">Back</a>
    </div>
  </main>
</div>